<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>


<div class="text-white bg-dark">

    <ul class="nav nav-pills red d-flex">
        <li class="m-2 nav-item me-auto">
            <h3 class="nav">Панель управления</h3>
        </li>
        <li class="m-2 nav-item">
            <a class="nav-link link-light" aria-current="page" href="/index">Главная страница</a>
        </li>
        <li class="m-2 nav-item" sec:authorize="hasRole('USER')">
            <a class="nav-link link-light" aria-current="page" href="/personalAccount">Личный кабинет <span
                    th:text="${user}">user</span></a>
        </li>
        <li class="m-2 nav-item" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link link-light active" aria-current="page" href="/adminPanel">Панель управления <span
                    th:text="${user}">user</span></a>
        </li>
        <li sec:authorize="!isAuthenticated()" class="m-2 nav-item">
            <form th:action="@{/loginPage}" method="get">
                <button type="submit" class="btn btn-success">Авторизация</button>
            </form>
        </li>
        <li sec:authorize="isAuthenticated()" class="m-2 nav-item">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-warning">Выйти</button>
            </form>
        </li>
    </ul>
</div>
<br>
<div class="d-flex flex-row m-3">
    <div class="">
        <h3>Добавить товар</h3>
        <form th:action="@{/addProduct}" method="post">
            <div class="mb-3">
                <label class="form-label">Название товара</label>
                <input type="text" class="form-control" name="name">
                <div class="form-text">Введите название товара</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Описание товара</label>
                <input type="text" class="form-control" name="description">
                <div class="form-text">Введите описание товара</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Картинка</label>
                <input type="text" class="form-control" name="pictureUrl">
                <div class="form-text">Введите ссылку картинки товара</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Цена товара</label>
                <input type="number" class="form-control" name="price">
                <div class="form-text">Введите цену товара</div>
            </div>
            <button type="submit" class="btn btn-primary">Добавить товар</button>
        </form>
    </div>
    <br>
    <div class="d-flex flex-column flex-wrap">
        <div class="d-flex justify-content-center m-2">
            <h2>Товары</h2>
        </div>
        <div class="d-flex flex-row flex-wrap">

            <div th:each="p: ${products}">
                <div class="card m-3" style="width: 18rem; height: 26rem">
                    <div class="justify-content-center  overflow-hidden" style="width: 17rem; height: 10rem;">
                        <img th:src="${p.pictureUrl}" class="card-img-top" style="width: auto; height: 10rem;" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${p.name}"></h5>
                        <p class="card-text" th:text="${p.description}"></p>
                        <h3 class="card-title" th:text="${p.price}"></h3>
                        <form th:action="@{/deleteProduct/}+${p.id}" method="post">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>